* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common style  */
.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2.5rem;
    position: relative;
}
.title::after {
    content: '';
    width: 120px;
    height: 3px;
    background: #000;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

/* header section  */
.header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,.5)), url(/images/header-background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.header-profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid;
    margin-bottom: 35px;
}

/* main section  */

/* navigation section  */
.navbar-section {
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar-brand img {
    height: 25px;
}
.navbar .fa-bars {
    font-size: 28px;
}
.navbar-toggler {
    border: none;
}
.navbar-nav {
    text-align: right;
}
.nav-item {
    margin-left: 20px;
}


/* intro section  */
.intro-section {
    margin-top: 5rem;
}
.logo-text {
    font-family: cursive;
}
.progress-section p {
    margin: 1rem 0 .25rem;
}
.progress {
    border-radius: 25px;
}
.progress-bar {
    background: #000;
    border-radius: 25px;
}

/* resume section  */
.resume {
    margin-top: 10rem;
    background: #eeeeeed8;
    padding: 3rem 0;
}
.life-time {
    position: relative;
}
.life-time::before {
    content: '';
    height: 96%;
    width: 3px;
    position: absolute;
    left: 0;
    top: 10px;
    background: #000;
}
.life-time li {
    list-style: none;
    position: relative;
    box-shadow: 2px 4px 20px #dadada;
    border-radius: 5px;
    background: #fff;
}
.life-time li::before {
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid;
    background: #fff;
    position: absolute;
    left: -38px;
    top: 8px;
    z-index: 1;
}
.life-time li h4{
    background: #000;
    color: #fff;
    padding: 5px 20px;
    font-size: 16px;
    border-radius: 3px;
}
.life-time li p {
    padding: 5px 20px 10px;
}
.experience img {
    display: block;
    margin: auto;
    width: 34rem;
}
.experience p {
    font-size: 18px;
    text-align: right;
}

/* services section  */
.services-section {
    margin-top: 5rem;
}
.services-section .title {
    margin-bottom: 10px;
}
.services-section .title::after {
    height: 0;
}
.service {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 25px 0;
    transition: background .7s, color .7s, border-radius .7s;
    cursor: pointer;
}
.service:hover {
    background-color: rgb(49, 49, 49);
    color: #fff;
    border-radius: 0 25px;
}

/* contact section  */
.contact-section {
    margin-top: 5rem;
    color: #fff;
    background: linear-gradient(90deg, rgba(0,0,0,.8), rgba(0,0,0,.5)), url(/images/contact-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 3rem 0;
}
.contact-section .title::after {
    background: #fff;
}
.contact i {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.contact h2 {
    font-size: 1.5rem;
}




/* media queries */
@media screen and (max-width: 768px) {
    /* nav bar section  */
    .navbar-nav {
        margin-right: 12px;
    }

    /* intro section  */
    .intro-section {
        margin-top: 2.5rem;
    }
    .intro {
        margin-top: 3rem;
    }

    /* resume section  */
    .resume {
        margin-top: 5rem;
    }
    .resume .experience {
        margin-top: 3rem;
    }

    /* service section  */
    .services-section .col-md-4 {
        margin-top: 2rem;
    }
  }